@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

h2 {
	float: left;
	width: 100%;
	color: #14594d;
	margin-bottom: 60px;
	font-size: 14px;
	position: relartive;
	z-index: 3;
}
h2 span {
	font-family: 'Libre Baskerville', serif;
	display: block;
	font-size: 45px;
	text-transform: none;
	margin-bottom: 20px;
	margin-top: 30px;
	font-weight: 700;
}
h2 a {
	color: #fff;
	font-weight: bold;
}

section {
	float: left;
	width: 100%;
	padding: 30px 0;
	position: relative;
	overflow: hidden;
	background: #e5ddd5;
	min-height: 100vh;
	height: 100%;
}
section:before {
	/* content: ''; */
	position: absolute;
	width: 110%;
	height: 100%;
	background-color: #e5ddd5;
	background: url('url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/background.png)') no-repeat 0 0;
	background-size: cover;
	filter: blur(10px);
	z-index: 0;
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
}
section .container-fluid {
	margin-top: 5em;
}
h3 {
	margin-bottom: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.btn-default {
	background: #dfc717;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
.loading:after {
	content: ' .';
	animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: white;
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%,
	100% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
	}
}
.card {
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
	border: none;
	margin-bottom: 30px;
	min-height: 260px;
}
.card-01 .card-body {
	position: relative;
	padding-top: 40px;
}
.event-card {
	min-height: 458px;
}
.card-01 .badge-box {
	position: absolute;
	top: -20px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	text-align: center;
}
.card-01 .badge-box i {
	background: #007aff;
	color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
.card-01.height-fix {
	height: 455px;
	overflow: hidden;
}
.card-01.height-fix .card-img-top {
	width: auto !important;
}

.profile-box {
	background-size: cover;
	float: left;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	position: relative;
	overflow: hidden;
}
.profile-box:before {
	filter: blur(10px);
	background: url('https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb')
		no-repeat;
	background-size: cover;
	width: 120%;
	position: absolute;
	content: '';
	height: 120%;
	left: -10%;
	top: 0;
	z-index: 0;
}
.profile-box img {
	width: 170px;
	height: 170px;
	position: relative;
	border: 5px solid #fff;
}
.social-box i {
	border: 1px solid #dfc717;
	color: #dfc717;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
}
.social-box i:hover {
	background: #dfc717;
	color: #fff;
}
.social-box a {
	margin: 0 5px;
}
.video-foreground {
	float: left;
	width: 100%;
	height: 500px;
}

.card-01.height-fix .card-img-overlay {
	top: unset;
	color: #fff;
	background: -moz-linear-gradient(
		top,
		rgba(26, 96, 111, 0) 0%,
		rgba(26, 96, 111, 0) 1%,
		rgba(24, 87, 104, 0.91) 31%,
		rgba(21, 65, 89, 0.91) 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		rgba(26, 96, 111, 0) 0%,
		rgba(26, 96, 111, 0) 1%,
		rgba(24, 87, 104, 0.91) 31%,
		rgba(21, 65, 89, 0.91) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		rgba(26, 96, 111, 0) 0%,
		rgba(26, 96, 111, 0) 1%,
		rgba(24, 87, 104, 0.91) 31%,
		rgba(21, 65, 89, 0.91) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#001a606f',
      endColorstr='#e8154159',
      GradientType=0
    );
}
.card-01.height-fix .fa {
	color: #fff;
	font-size: 22px;
	margin-right: 18px;
}
#form-container {
	width: 400px;
	margin: 100px auto;
}

input[type='text'] {
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
	border-radius: 0px;
	outline: none;
	display: block;
	margin: 0 0 20px 0;
	width: 100%;
	box-sizing: border-box;
}

select {
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
	border-radius: 2px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	background: none;
	margin: 0 0 20px 0;
}

.input-error {
	border: 1px solid red !important;
}

#event-date {
	display: none;
}

#create-update-event {
	/* background: none; */
	width: 100%;
	display: block;
	margin: 0 auto;
	border: 2px solid #2980b9;
	padding: 8px;
	/* background: none; */
	/* color: #2980b9; */
	cursor: pointer;
}

#delete-event {
	/* background: none; */
	width: 100%;
	display: block;
	margin: 20px auto 0 auto;
	border: 2px solid #2980b9;
	padding: 8px;
	/* background: none; */
	/* color: #2980b9; */
	cursor: pointer;
}
