#logo {
	text-align: center;
	width: 200px;
	display: block;
	margin: 100px auto;
	border: 2px solid #2980b9;
	padding: 10px;
	background: none;
	color: #2980b9;
	cursor: pointer;
	text-decoration: none;
}
#form-container {
	width: 400px;
	margin: 100px auto;
}

/* loading dots */

input[type='text'] {
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
	border-radius: 0px;
	outline: none;
	display: block;
	margin: 0 0 20px 0;
	width: 100%;
	box-sizing: border-box;
}

select {
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
	border-radius: 2px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	background: none;
	margin: 0 0 20px 0;
}

.input-error {
	border: 1px solid red !important;
}

#event-date {
	display: none;
}

#create-event {
	background: none;
	width: 100%;
	display: block;
	margin: 0 auto;
	border: 2px solid #2980b9;
	padding: 8px;
	background: none;
	color: #2980b9;
	cursor: pointer;
}
